@model pratice_aegona_v2.Models.ViewModels.LoginViewModel

<h2>Login</h2>

<form method="post">
    <input asp-for="Email" placeholder="Email" />
    <input asp-for="Password" type="password" placeholder="Password" />

    <button type="submit">Login</button>
</form>

<p style="color:red">@ViewBag.Error</p>